[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pdfminer-six = "*"
gensim = "*"
pandas = "*"
scikit-learn = "*"
"beautifulsoup4" = "*"
nltk = "*"

[dev-packages]

[requires]
python_version = "3.6"
